@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    justify-content: flex-start;
}

.loading-wrapper {
    display: block;
    padding: 20px;
}

.loading-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-content-view {
    gap: 30px;
}

.category-view {
    gap: 10px;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    app-region: drag;

    button {
        @include mat.form-field-density(-5);
        app-region: no-drag;
    }
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
