<div
    class="drop-container"
    ngFileDrop
    [options]="options"
    (uploadOutput)="onUploadOutput($event)"
    [uploadInput]="uploadInput"
>
    <mat-icon class="upload-icon">save_alt</mat-icon>
    <p class="upload-title">{{ 'HOME.FILE_UPLOAD.DRAG_DROP' | translate }}</p>
    <p>{{ 'HOME.FILE_UPLOAD.OR' | translate }}</p>
    <input
        type="file"
        ngFileSelect
        [options]="options"
        (uploadOutput)="onUploadOutput($event)"
        class="input-file"
        name="file"
        id="file"
        [uploadInput]="uploadInput"
        multiple
    />
    <label for="file">{{
        'HOME.FILE_UPLOAD.CHOOSE_PLAYLIST' | translate
    }}</label>
</div>
