:host {
    background: rgba(255, 255, 255, 0.95);
    color: #000;
    display: flex;
    width: 100%;
    --mat-toolbar-standard-height: 100px;
}

.logo {
    flex: 1 1 100px;

    img {
        height: 100px;
    }
}

.main {
    place-content: center flex-start;
    align-self: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    max-width: 100%;

    .title {
        font-size: 1em;
        color: #000;
    }

    .subtitle {
        color: rgba(0, 0, 0, 0.6);
        font-size: 0.7em;
        margin-top: 5px;
        text-wrap: pretty;
    }
}

.menu {
    place-content: center;
    align-self: center;
    display: flex;
}

.filter-container {
    padding: 0 10px;
}

.add-playlist-btn {
    background-color: #3f51b5;
    color: #fff;
}

.dropdown-menu-header {
    padding: 0 16px;
    margin: 8px 0;
    font-size: 12px;
    font-weight: 500;
}

.active-sort {
    background-color: rgba(0, 0, 0, 0.1);
}

.check-icon {
    margin-left: 8px;
}

@media (max-width: 599px) {
    .subtitle {
        display: none;
    }

    .logo > img {
        height: 48px;
    }
}

// Dark theme overrides
::ng-deep {
    .dark-theme {
        :host {
            background: #1b1c1c;
            color: #fff;

            .main {
                .title {
                    color: #fff !important;
                }

                .subtitle {
                    color: rgba(255, 255, 255, 0.6) !important;
                }
            }

            .active-sort {
                background-color: rgb(48 48 48);
            }
        }
    }
}
