<div class="logo">
    <img src="./assets/icons/icon-tv-256.png" height="100" />
</div>
<div class="main">
    <div class="title">{{ title }}</div>
    <div class="subtitle">{{ subtitle }}</div>
</div>
<div class="menu">
    <button
        *ngIf="isElectron; else pwaMenu"
        mat-icon-button
        (click)="openSettings()"
        data-test-id="open-settings"
    >
        <mat-icon>settings</mat-icon>
    </button>
</div>

<ng-template #pwaMenu>
    <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        [attr.aria-label]="'MENU.OPEN' | translate"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <ng-container *ngIf="isHome">
            <button
                mat-menu-item
                [attr.aria-label]="'MENU.SETTINGS_ARIA' | translate"
                (click)="openSettings()"
            >
                <mat-icon>settings</mat-icon>
                <span>{{ 'MENU.SETTINGS' | translate }}</span>
            </button>
            <mat-divider></mat-divider>
        </ng-container>
        <button
            mat-menu-item
            [attr.aria-label]="'MENU.SUPPORT_ARIA' | translate"
            (click)="openUrl('https:///github.com/4gray/iptvnator')"
        >
            <mat-icon>recommend</mat-icon>
            <span>GitHub</span>
        </button>
        <button
            mat-menu-item
            [attr.aria-label]="'MENU.BUG_REPORT' | translate"
            (click)="openUrl('https://github.com/4gray/iptvnator/issues')"
        >
            <mat-icon>bug_report</mat-icon>
            <span>{{ 'MENU.BUG_REPORT' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button
            mat-menu-item
            [attr.aria-label]="'MENU.WHAT_IS_NEW' | translate"
            (click)="setDialogVisibility(true)"
        >
            <mat-icon>new_releases</mat-icon>
            <span>{{ 'MENU.WHAT_IS_NEW' | translate }}</span>
        </button>
        <button
            mat-menu-item
            [attr.aria-label]="'MENU.ABOUT_ARIA' | translate"
            (click)="openAboutDialog()"
        >
            <mat-icon>info</mat-icon>
            <span>{{ 'MENU.ABOUT' | translate }}</span>
        </button>
    </mat-menu>
</ng-template>
<ngx-whats-new
    *ngIf="!isElectron && isDialogVisible$ | async"
    (closeModal)="setDialogVisibility(false)"
    [items]="modals"
    [options]="options"
>
</ngx-whats-new>
