<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content class="content">
    <app-web-player-view [streamUrl]="streamUrl" />
</mat-dialog-content>
<mat-dialog-actions class="align-actions">
    <button
        mat-button
        [cdkCopyToClipboard]="streamUrl"
        (click)="showCopyNotification()"
        [matTooltip]="streamUrl"
    >
        <mat-icon>content_copy</mat-icon>
        {{ 'PORTALS.COPY_STREAM_URL' | translate }}
    </button>
    <button mat-button mat-dialog-close color="accent">
        {{ 'CLOSE' | translate }}
    </button>
</mat-dialog-actions>
