.loading-wrapper {
    display: block;
    padding: 20px;
}

.loading-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-content-view {
    gap: 30px;
}

.category-view {
    gap: 10px;
}
