@if (isImporting()) {
    <app-loading-overlay
        [current]="getImportCount()"
        [total]="itemsToImport()"
    />
}

<div class="xtream-container">
    <app-navigation
        class="navigation-sidebar"
        [portalStatus]="$any(portalStatus())"
        [navigationItems]="mainNavigationItems"
        (categoryClick)="handleCategoryClick($any($event))"
        (pageClicked)="handlePageClick($event)"
        [selectedContentType]="xtreamStore.selectedContentType()"
    />
    <router-outlet />
</div>
