@if (selectedCategory()) {
    <div class="grid" appTvNavigation>
        @for (item of paginatedContent(); track $index) {
            @let i = $any(item);
            <mat-card 
                (click)="onItemClick(item)"
                #contentCard
                [attr.aria-label]="i.title || 'No name'"
                [attr.role]="'button'"
                [attr.tabindex]="0"
            >
                @if (i.poster_url) {
                    <img
                        class="stream-icon"
                        [ngSrc]="i.poster_url"
                        fill
                        priority
                        (error)="$event.target.src = './assets/images/default-poster.png'"
                        [alt]="i.title || 'Content poster'"
                    />
                } @else {
                    <img
                        class="stream-icon"
                        src="./assets/images/default-poster.png"
                        [alt]="i.title || 'Default content poster'"
                    />
                }
                @let rating = $any(item).rating;
                @if (rating) {
                    <div
                        class="rating"
                        [matTooltip]="'XTREAM.IMDB_RATING' | translate"
                        [attr.aria-label]="'Rating: ' + rating + ' stars'"
                    >
                        <mat-icon>star</mat-icon>{{ rating }}
                    </div>
                }
                <mat-card-actions>
                    <div class="title">{{ i.title || 'No name' }}</div>
                </mat-card-actions>
            </mat-card>
        } @empty {
            <app-playlist-error-view
                [title]="'PORTALS.ERROR_VIEW.EMPTY_CATEGORY.TITLE' | translate"
                [description]="
                    'PORTALS.ERROR_VIEW.EMPTY_CATEGORY.DESCRIPTION' | translate
                "
                [showActionButtons]="false"
                [viewType]="'EMPTY_CATEGORY'"
            />
        }
    </div>

    @if (paginatedContent().length > 0) {
        <mat-paginator
            [length]="totalPages() * limit()"
            [pageSize]="limit()"
            [pageSizeOptions]="getResponsivePageSizeOptions()"
            (page)="onPageChange($event)"
            aria-label="Select page"
            [attr.aria-label]="'Content pagination'"
        />
    }
} @else {
    <app-playlist-error-view
        [title]="'PORTALS.ERROR_VIEW.NO_CATEGORY_SELECTED.TITLE' | translate"
        [description]="
            'PORTALS.ERROR_VIEW.NO_CATEGORY_SELECTED.DESCRIPTION' | translate
        "
        [showActionButtons]="false"
        [viewType]="'EMPTY_CATEGORY'"
    />
}
