@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-list-base {
    padding-top: 0;
}

.playlists-list {
    padding: 0;
    width: 100%;
}

.search-field {
    width: 96%;
    margin: 10px 0;
}

.meta {
    font-size: 12px !important;
    color: #666;
    margin-top: 2px !important;
}


::ng-deep {
    div[matformfieldlineripple] {
        display: none;
    }

    .search-field > .mat-mdc-text-field-wrapper {
        border-radius: 30px;
    }
}


#skeleton-container {
    padding-top: 10px;
    width: 100%;

    .skeleton-item {
        display: flex;
        padding: 0 20px;
        height: 72px;

        .text {
            flex: 1;
            align-self: center;
            padding-left: 6px;
            flex-direction: column;
            display: flex;
        }
    }
}

@media only screen and (max-width: 480px) {
    .favorites-icon {
        padding-left: 0 !important;
        display: none
    }

    .search-field {
        @include mat.form-field-density(-2);
    }
}
