<mat-nav-list>
    <a
        mat-list-item
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
    </a>

    <a
        mat-list-item
        (click)="xtreamStore.setSelectedContentType('live')"
        routerLink="./live"
        [class.active]="isContentTypeActive('live')"
    >
        <mat-icon matListItemIcon>live_tv</mat-icon>
        <span matListItemTitle>Live TV</span>
    </a>

    <a
        mat-list-item
        (click)="xtreamStore.setSelectedContentType('vod')"
        routerLink="./vod"
        [class.active]="isContentTypeActive('vod')"
    >
        <mat-icon matListItemIcon>movie</mat-icon>
        <span matListItemTitle>Movies</span>
    </a>

    <a
        mat-list-item
        routerLink="./series"
        (click)="xtreamStore.setSelectedContentType('series')"
        [class.active]="isContentTypeActive('series')"
    >
        <mat-icon matListItemIcon>tv</mat-icon>
        <span matListItemTitle>TV Series</span>
    </a>

    <mat-divider />

    <a
        mat-list-item
        routerLink="./search"
        routerLinkActive="active"
        (click)="xtreamStore.setSelectedContentType(undefined)"
    >
        <mat-icon matListItemIcon>search</mat-icon>
        <span matListItemTitle>Search</span>
    </a>

    <a
        mat-list-item
        routerLink="./recent"
        routerLinkActive="active"
        (click)="xtreamStore.setSelectedContentType(undefined)"
    >
        <mat-icon matListItemIcon>history</mat-icon>
        <span matListItemTitle>Recent</span>
    </a>

    <a
        mat-list-item
        routerLink="./favorites"
        routerLinkActive="active"
        (click)="xtreamStore.setSelectedContentType(undefined)"
    >
        <mat-icon matListItemIcon>favorite</mat-icon>
        <span matListItemTitle>Favorites</span>
    </a>
</mat-nav-list>

<mat-nav-list class="navigation-bottom">
    <a mat-list-item (click)="openAccountInfo()">
        <mat-icon matListItemIcon>account_circle</mat-icon>
        <span matListItemTitle>Account Info</span>
    </a>

    <a mat-list-item (click)="openPlaylistInfo()">
        <mat-icon matListItemIcon>info</mat-icon>
        <span matListItemTitle>Playlist Info</span>
    </a>

    <a mat-list-item (click)="openSettings()">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>{{ 'MENU.SETTINGS' | translate }}</span>
    </a>
</mat-nav-list>
