.active {
    background: #ddd;
}

.mat-list-base {
    padding-top: 0;
}

.scroll-viewport {
    min-height: calc(100vh - 165px);
}

.search-bar {
    padding: 8px;
    background: #ddd;
    border: none;
    border-radius: 4px;
}

.channel-logo {
    max-height: 48px;
    overflow: hidden;
}

::ng-deep {
    .mat-expansion-panel-body {
        padding: 0 !important;
    }

    .dark-theme {
        .search-bar {
            background: #666;
            color: #fff;
        }

        .search-bar::placeholder {
            color: #ccc;
        }

        .active {
            background: #000;
        }
    }

    .mat-tab-label-content {
        text-transform: uppercase;
    }

    .mat-expansion-panel {
        border-radius: 0 !important;
    }

    .mat-tab-label,
    .mat-tab-label-active {
        min-width: 0 !important;
        padding: 15px !important;
    }
}

.channel-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 0.9em;
    max-width: 290px;
}

[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    appearance: none;
    height: 10px;
    width: 10px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA5NiA5NiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTYgOTYiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlnb24gZmlsbD0iI2VlZSIgcG9pbnRzPSI5NiwxNCA4MiwwIDQ4LDM0IDE0LDAgMCwxNCAzNCw0OCAwLDgyIDE0LDk2IDQ4LDYyIDgyLDk2IDk2LDgyIDYyLDQ4ICIvPg0KPC9zdmc+DQo=');
    background-size: 10px 10px;
    color: #fff;
}

#groups-list,
#favorites-list {
    height: calc(100vh - 120px);
}

@media only screen and (max-width: 480px) {
    .channel-name {
        max-width: 100px;
    }

    .tab-title {
        display: none;
    }

    .tab-icon {
        display: block;
    }
}
