@if (selectedCategory()) {
    @if (isStalker && selectedItem()) {
        @if (contentType() === 'vod') {
            @if (selectedItem().series?.length > 0) {
                <!-- VOD item with embedded series (vclub or Ministra) -->
                <app-stalker-series-view [vodWithSeries]="selectedItem()" />
            } @else if (selectedItem().is_series) {
                <!-- VOD item that is actually a series (Ministra plugin is_series=1) -->
                <app-stalker-series-view />
            } @else {
                @if (vodDetailsItem()) {
                    <app-vod-details
                        [item]="vodDetailsItem()!"
                        [isFavorite]="isSelectedVodFavorite()"
                        [playbackPosition]="selectedVodPlaybackPosition()"
                        (playClicked)="onVodPlay($event)"
                        (resumeClicked)="onVodResume($event)"
                        (favoriteToggled)="onVodFavoriteToggled($event)"
                        (downloadRequested)="onVodDownload($event)"
                        (backClicked)="onVodBack()"
                    />
                }
            }
        } @else if (contentType() === 'series') {
            <app-stalker-series-view />
        }
    } @else {
        <app-grid-list
            [isLoading]="isPaginatedContentLoading()"
            [items]="contentWithProgress()"
            (itemClicked)="onItemClick($event)"
            [pageIndex]="pageIndex()"
            [totalPages]="totalPages()"
            [limit]="limit()"
            [pageSizeOptions]="pageSizeOptions"
            (pageChange)="onPageChange($event)"
        />
    }
} @else {
    <app-playlist-error-view
        [title]="'PORTALS.ERROR_VIEW.NO_CATEGORY_SELECTED.TITLE' | translate"
        [description]="
            'PORTALS.ERROR_VIEW.NO_CATEGORY_SELECTED.DESCRIPTION' | translate
        "
        [showActionButtons]="false"
        [viewType]="'EMPTY_CATEGORY'"
    />
}
