<span class="time"
    >{{ item.start | momentDate: 'YYYYMMDDHHmm ZZ':'HH:mm' }}
    -
    {{ item.stop | momentDate: 'YYYYMMDDHHmm ZZ':'HH:mm' }}</span
>
<span
    *ngIf="timeNow >= item.start && timeNow <= item.stop"
    class="live badge"
    [matTooltip]="'EPG.LIVE_NOW' | translate"
    >live</span
>
<span
    *ngIf="
        item.start < timeNow &&
        item.stop < timeNow &&
        item.start > timeshiftUntil
    "
    class="rec badge"
    [matTooltip]="'EPG.TIMESHIFT_AVAILABLE' | translate"
    >r</span
>
<span
    (click)="$event.stopPropagation(); showDescription(item)"
    matListItemMeta
    *ngIf="item.desc.length > 0"
    class="description-icon"
    [matTooltip]="'EPG.PROGRAM_DIALOG.SHOW_PROGRAM_DETAILS' | translate"
    ><mat-icon>info</mat-icon></span
>
