.mat-list-base {
    padding-top: 0;
}

.playlists-list {
    padding: 0;
}

.meta {
    font-size: 12px !important;
    color: #666;
    margin-top: 2px !important;
}

::ng-deep .cdk-drag-preview .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
    width: 100%;
    justify-content: space-between;

    .mat-list-text {
        display: flex;
        flex-direction: column;
        flex: auto;
        box-sizing: border-box;
        overflow: hidden;
        padding-left: 16px;
    }
}

.favorites-icon {
    padding-left: 36px;
}

#skeleton-container {
    padding-top: 10px;

    .skeleton-item {
        display: flex;
        padding-left: 25px;
        height: 72px;

        .text {
            flex: 1;
            align-self: center;
            padding-left: 6px;
            flex-direction: column;
            display: flex;
        }
    }
}

#migration-container {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    margin: 5px;

    p {
        margin-left: 15px;
    }

    .migration-btn {
        text-transform: uppercase;
    }
}
