<mat-nav-list cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-list-item *ngIf="playlists.length === 0">
        <mat-icon class="favorites-icon" mat-list-icon>search</mat-icon>
        <div mat-line>{{ 'HOME.PLAYLISTS.NO_PLAYLISTS' | translate }}</div>
        <div mat-line class="meta">
            {{ 'HOME.PLAYLISTS.ADD_FIRST' | translate }}
        </div>
    </mat-list-item>
    <mat-list-item
        *ngIf="playlists.length > 0"
        (click)="getPlaylist('GLOBAL_FAVORITES')"
    >
        <mat-icon class="favorites-icon" mat-list-icon>star</mat-icon>
        <div mat-line>
            {{ 'HOME.PLAYLISTS.GLOBAL_FAVORITES' | translate }}
        </div>
        <div mat-line class="meta">
            {{ 'HOME.PLAYLISTS.GLOBAL_FAVORITES_DESCRIPTION' | translate }}
        </div>
        <mat-divider></mat-divider>
    </mat-list-item>

    <app-playlist-item
        *ngFor="let item of playlists; last as last"
        [item]="item"
        (editPlaylistClicked)="openInfoDialog($event)"
        (playlistClicked)="getPlaylist($event)"
        (refreshClicked)="refreshPlaylist($event)"
        (removeClicked)="removeClicked($event)"
    ></app-playlist-item>
</mat-nav-list>
