<div id="navigation">
    <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="button-label">{{ 'PLAYLISTS' | translate }}</span>
    </button>

    <mat-button-toggle-group
        *ngIf="showCategories"
        name="contentType"
        aria-label="Content Type"
        [value]="contentType"
        (change)="changeContentType($event.value)"
        hideSingleSelectionIndicator
    >
        <mat-button-toggle
            *ngFor="
                let item of contentTypeNavigationItems;
                trackBy: trackByValue
            "
            [value]="item.contentType"
        >
            <mat-icon class="icon">{{ item.icon }}</mat-icon>
            <span class="label">{{ item.label }}</span>
        </mat-button-toggle>
    </mat-button-toggle-group>

    <div>
        <button mat-button (click)="openPlaylistDetails()">
            <mat-icon>info</mat-icon>
            <span class="button-label">{{ 'Info' | translate }}</span>
        </button>

        <button mat-button (click)="favoritesClicked.emit()">
            <mat-icon>star</mat-icon>
            <span class="button-label">{{
                'CHANNELS.FAVORITES' | translate
            }}</span>
        </button>
    </div>
</div>
<div id="sub-panel">
    <div class="breadcrumbs">
        <div
            *ngFor="let item of breadcrumbs; let i = index"
            (click)="processBreadcrumbClick(item)"
        >
            <span>{{ item.title }}</span>
            <mat-icon *ngIf="i !== breadcrumbs.length - 1"
                >chevron_right</mat-icon
            >
        </div>
    </div>
    <div class="search-container">
        <div class="sort" *ngIf="sortVisible">
            <button
                mat-icon-button
                [matTooltip]="'CHANNELS.SORT_BY' | translate"
                [matMenuTriggerFor]="sortPlaylistMenu"
                data-test-id="sort-playlist"
            >
                <mat-icon>sort</mat-icon>
            </button>
        </div>
        <div class="search" *ngIf="searchVisible">
            <mat-form-field class="search-input">
                <mat-icon matPrefix>search</mat-icon>
                <input
                    matInput
                    placeholder="Search by name"
                    type="search"
                    [ngModel]="searchPhrase()"
                    (ngModelChange)="searchPhraseUpdate.next($event)"
                />
            </mat-form-field>
        </div>
    </div>
    <mat-menu #sortPlaylistMenu="matMenu">
        <section
            (click)="$event.stopPropagation()"
        >
            <button mat-menu-item (click)="setSortType('date')">
                <mat-icon>calendar_today</mat-icon>
                <span>{{ 'CHANNELS.SORT_BY_DATE' | translate }}</span>
            </button>
            <button mat-menu-item (click)="setSortType('rating')">
                <mat-icon>star</mat-icon>
                <span>{{ 'CHANNELS.SORT_BY_RATING' | translate }}</span>
            </button>
            <button mat-menu-item (click)="setSortType('alpha')">
                <mat-icon>sort_by_alpha</mat-icon>
                <span>{{ 'CHANNELS.SORT_BY_NAME' | translate }}</span>
            </button>
        </section>
    </mat-menu>
</div>
