.mat-mdc-list-item.current-program {
    background-color: rgba(29, 185, 84, 0.2);
    
    .title {
        color: #1db954;
    }
}

.title {
    font-weight: bold;
}

.epg-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 16px;
}

.progress-container {
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 8px;
    border-radius: 2px;
    overflow: hidden;
    
    .progress {
        height: 100%;
        background: #1db954;
        transition: width 1s linear;
    }
}