@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.sidebar {
    width: 300px;
    min-width: 300px;
    border-right: 1px solid #111;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.video-player {
    flex: 1;
    height: 50%;
}

.epg {
    flex: 1;
    height: 50%;
    overflow: hidden;
}

.epg-content {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    app-region: drag;

    button {
        @include mat.form-field-density(-5);
        app-region: no-drag;
    }
}

.no-channel-selected {
    padding: 16px;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

::ng-deep {
    .video-player
        > app-web-player-view
        > app-art-player
        > .artplayer-container {
        height: 100% !important;
        width: 100% !important;
    }
}
