<h2 mat-dialog-title>
    {{ 'HOME.PLAYLISTS.INFO_DIALOG.PLAYLIST_DETAILS' | translate }}
</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field class="full-width">
        <mat-label>{{
            'HOME.PLAYLISTS.INFO_DIALOG.TITLE' | translate
        }}</mat-label>
        <input matInput [value]="playlist.title" disabled="true" />
    </mat-form-field>
    <mat-form-field class="full-width" *ngIf="playlist.url">
        <mat-label>{{
            'HOME.PLAYLISTS.INFO_DIALOG.FROM_URL' | translate
        }}</mat-label>
        <input matInput [value]="playlist.url" disabled="true" />
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>{{
            'HOME.PLAYLISTS.INFO_DIALOG.IMPORT_DATE' | translate
        }}</mat-label>
        <input matInput [value]="playlist.importDate | date" disabled="true" />
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>{{
            'HOME.PLAYLISTS.INFO_DIALOG.CHANNELS' | translate
        }}</mat-label>
        <input matInput [value]="playlist.count" disabled="true" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial color="accent">
        {{ 'HOME.PLAYLISTS.INFO_DIALOG.CLOSE' | translate }}
    </button>
</mat-dialog-actions>
