<h3>Seasons and episodes</h3>
<div class="seasons-container">
  @if (!selectedSeason) {
    @for (season of seasons | keyvalue; track season) {
      <mat-card
        class="season-item"
        (click)="selectSeason(season.key)"
        >
        <mat-card-content>Season {{ season.key }}</mat-card-content>
      </mat-card>
    }
  } @else {
    <mat-card class="episode-item" (click)="selectedSeason = undefined">
      <div class="episode-title">< Back to seasons</div>
    </mat-card>
    @for (episode of seasons[selectedSeason]; track episode) {
      <mat-card
        class="episode-item"
        (click)="selectEpisode(episode)"
        >
        @if (episode.info.movie_image) {
          <mat-card-content
            ><img [src]="episode.info.movie_image" class="episode-cover"
          /></mat-card-content>
        }
        <div class="episode-title">
          {{ episode.episode_num }}. {{ episode.title }}
        </div>
      </mat-card>
    }
  }

</div>
