<div class="modern-header">
    <div class="brand-block">
        <div class="logo-pulse">
            <img src="./assets/icons/icon-tv-256.png" alt="iptvnator logo" />
        </div>
        <div class="brand-text">
            <div class="title">{{ title() }}</div>
        </div>
    </div>

    @if (isHome) {
        <div class="search-container">
            <mat-icon class="search-icon">search</mat-icon>
            <input
                #searchInput
                type="search"
                class="search-input"
                spellcheck="false"
                autocomplete="off"
                [placeholder]="'HOME.PLAYLISTS.SEARCH_PLAYLISTS' | translate"
                (input)="onSearchQueryUpdate(searchInput.value)"
            />
        </div>

        <!-- Desktop menu buttons -->
        <div class="menu desktop-menu">
            <button
                mat-icon-button
                class="add-playlist-btn"
                [matMenuTriggerFor]="addPlaylistMenuComponent().menu()"
                [matTooltip]="'HOME.URL_UPLOAD.ADD_PLAYLIST' | translate"
                data-test-id="add-playlist"
            >
                <mat-icon>add</mat-icon>
            </button>
            <app-add-playlist-menu
                (playlistTypeSelected)="openAddPlaylistDialog($event)"
            />
            <button
                mat-icon-button
                (click)="navigateToGlobalFavorites()"
                [matTooltip]="'HOME.PLAYLISTS.GLOBAL_FAVORITES' | translate"
                data-test-id="global-favorites"
            >
                <mat-icon>star</mat-icon>
            </button>
            <button
                mat-icon-button
                (click)="onGlobalSearchClick()"
                [matTooltip]="
                    ('PORTALS.SIDEBAR.SEARCH' | translate) + ' (Ctrl/Cmd+F)'
                "
                data-test-id="global-search"
            >
                <mat-icon>travel_explore</mat-icon>
            </button>
            <button
                mat-icon-button
                (click)="onGlobalRecentClick()"
                [matTooltip]="
                    ('PORTALS.SIDEBAR.RECENT' | translate) + ' (Ctrl/Cmd+R)'
                "
                data-test-id="global-recent"
            >
                <mat-icon>history</mat-icon>
            </button>
            <button
                mat-icon-button
                #filterMenuTrigger="matMenuTrigger"
                [matMenuTriggerFor]="filterSortMenuComponent().menu()"
                [matTooltip]="'HOME.FILTER_AND_SORT' | translate"
                [matBadge]="filterSortMenuComponent().activeFiltersCount"
                [matBadgeHidden]="
                    filterSortMenuComponent().activeFiltersCount === 0
                "
                matBadgeSize="small"
                matBadgeColor="accent"
                data-test-id="filter-sort-playlists"
            >
                <mat-icon>tune</mat-icon>
            </button>
            <app-filter-sort-menu [menuTrigger]="filterMenuTrigger" />
            @if (isDesktop) {
                <button
                    mat-icon-button
                    (click)="openSettings()"
                    [matTooltip]="'MENU.SETTINGS' | translate"
                    data-test-id="open-settings"
                >
                    <mat-icon>settings</mat-icon>
                </button>
            } @else {
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="pwaMenu"
                    [attr.aria-label]="'MENU.OPEN' | translate"
                    data-test-id="pwa-menu"
                >
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #pwaMenu="matMenu">
                    @if (isHome) {
                        <button
                            mat-menu-item
                            [attr.aria-label]="'MENU.SETTINGS_ARIA' | translate"
                            (click)="openSettings()"
                            data-test-id="pwa-open-settings"
                        >
                            <mat-icon>settings</mat-icon>
                            <span>{{ 'MENU.SETTINGS' | translate }}</span>
                        </button>
                        <mat-divider></mat-divider>
                    }
                    <button
                        mat-menu-item
                        [attr.aria-label]="'MENU.SUPPORT_ARIA' | translate"
                        (click)="openUrl('https://github.com/4gray/iptvnator')"
                    >
                        <mat-icon>recommend</mat-icon>
                        <span>GitHub</span>
                    </button>
                    <button
                        mat-menu-item
                        [attr.aria-label]="'MENU.BUG_REPORT' | translate"
                        (click)="
                            openUrl('https://github.com/4gray/iptvnator/issues')
                        "
                    >
                        <mat-icon>bug_report</mat-icon>
                        <span>{{ 'MENU.BUG_REPORT' | translate }}</span>
                    </button>
                    <mat-divider />
                    <button
                        mat-menu-item
                        [attr.aria-label]="'MENU.SUPPORT_PROJECT' | translate"
                        (click)="openUrl('https://github.com/sponsors/4gray')"
                    >
                        <mat-icon>savings</mat-icon>
                        <span>{{ 'MENU.SUPPORT_PROJECT' | translate }}</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button
                        mat-menu-item
                        [attr.aria-label]="'MENU.ABOUT_ARIA' | translate"
                        (click)="openAboutDialog()"
                    >
                        <mat-icon>info</mat-icon>
                        <span>{{ 'MENU.ABOUT' | translate }}</span>
                    </button>
                </mat-menu>
            }
        </div>

        <!-- Mobile three-dots menu (all buttons consolidated) -->
        <div class="menu mobile-menu">
            <button
                mat-icon-button
                [matMenuTriggerFor]="mobileActionsMenu"
                [attr.aria-label]="'MENU.OPEN' | translate"
                data-test-id="mobile-menu"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
            <app-add-playlist-menu
                (playlistTypeSelected)="openAddPlaylistDialog($event)"
            />
            <app-filter-sort-menu [menuTrigger]="mobileFilterTrigger" />
            <mat-menu #mobileActionsMenu="matMenu">
                <button
                    mat-menu-item
                    [matMenuTriggerFor]="addPlaylistMenuComponent().menu()"
                    data-test-id="mobile-add-playlist"
                >
                    <mat-icon>add</mat-icon>
                    <span>{{ 'HOME.URL_UPLOAD.ADD_PLAYLIST' | translate }}</span>
                </button>
                <button
                    mat-menu-item
                    (click)="navigateToGlobalFavorites()"
                    data-test-id="mobile-global-favorites"
                >
                    <mat-icon>star</mat-icon>
                    <span>{{ 'HOME.PLAYLISTS.GLOBAL_FAVORITES' | translate }}</span>
                </button>
                <button
                    mat-menu-item
                    (click)="onGlobalSearchClick()"
                    data-test-id="mobile-global-search"
                >
                    <mat-icon>travel_explore</mat-icon>
                    <span
                        >{{ 'PORTALS.SIDEBAR.SEARCH' | translate }}
                        (Ctrl/Cmd+F)</span
                    >
                </button>
                <button
                    mat-menu-item
                    (click)="onGlobalRecentClick()"
                    data-test-id="mobile-global-recent"
                >
                    <mat-icon>history</mat-icon>
                    <span
                        >{{ 'PORTALS.SIDEBAR.RECENT' | translate }}
                        (Ctrl/Cmd+R)</span
                    >
                </button>
                <button
                    mat-menu-item
                    #mobileFilterTrigger="matMenuTrigger"
                    [matMenuTriggerFor]="filterSortMenuComponent().menu()"
                    data-test-id="mobile-filter-sort"
                >
                    <mat-icon
                        [matBadge]="filterSortMenuComponent().activeFiltersCount"
                        [matBadgeHidden]="filterSortMenuComponent().activeFiltersCount === 0"
                        matBadgeSize="small"
                        matBadgeColor="accent"
                    >tune</mat-icon>
                    <span>{{ 'HOME.FILTER_AND_SORT' | translate }}</span>
                </button>
                <mat-divider />
                <button
                    mat-menu-item
                    (click)="openSettings()"
                    data-test-id="mobile-settings"
                >
                    <mat-icon>settings</mat-icon>
                    <span>{{ 'MENU.SETTINGS' | translate }}</span>
                </button>
                @if (!isDesktop) {
                    <mat-divider />
                    <button
                        mat-menu-item
                        (click)="openUrl('https://github.com/4gray/iptvnator')"
                    >
                        <mat-icon>recommend</mat-icon>
                        <span>GitHub</span>
                    </button>
                    <button
                        mat-menu-item
                        (click)="openUrl('https://github.com/4gray/iptvnator/issues')"
                    >
                        <mat-icon>bug_report</mat-icon>
                        <span>{{ 'MENU.BUG_REPORT' | translate }}</span>
                    </button>
                    <button
                        mat-menu-item
                        (click)="openUrl('https://github.com/sponsors/4gray')"
                    >
                        <mat-icon>savings</mat-icon>
                        <span>{{ 'MENU.SUPPORT_PROJECT' | translate }}</span>
                    </button>
                    <mat-divider />
                    <button
                        mat-menu-item
                        (click)="openAboutDialog()"
                    >
                        <mat-icon>info</mat-icon>
                        <span>{{ 'MENU.ABOUT' | translate }}</span>
                    </button>
                }
            </mat-menu>
        </div>
    }
</div>
