.channel-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 0.9em;
    max-width: 290px;
    transition: color 0.2s ease;
    width: 100%;
    position: relative;
    overflow: hidden;

    &:hover {
        overflow: visible;
        text-overflow: clip;
        animation: marquee 6s linear infinite;
    }
    
}

.active {
    background: #ddd;
}

::ng-deep {
    .dark-theme {
        .active {
            background: #000;
        }
    }
}

.drag-icon {
    cursor: move;
    margin-left: 0;
    margin-right: 0;
}
