@use '@angular/material' as mat;

.content {
    overflow: hidden;
    padding: 10px !important;
}

.align-actions {
    justify-content: space-between;
}

mat-dialog-content {
    .video-js {
        height: 500px !important;
    }
}
