<h2 mat-dialog-title>
    {{ 'SETTINGS.BACKUP_CREDENTIALS_DIALOG.TITLE' | translate }}
</h2>

<form
    class="settings-backup-credentials-dialog"
    [formGroup]="credentialsForm"
    (ngSubmit)="submit()"
    novalidate
>
    <mat-dialog-content>
        <p class="settings-backup-credentials-dialog__lead">
            {{ 'SETTINGS.BACKUP_CREDENTIALS_DIALOG.MESSAGE' | translate }}
        </p>

        <dl class="settings-backup-credentials-dialog__context">
            <div>
                <dt>
                    {{
                        'SETTINGS.BACKUP_CREDENTIALS_DIALOG.PLAYLIST'
                            | translate
                    }}
                </dt>
                <dd>{{ dialogData.playlistTitle }}</dd>
            </div>
            @if (dialogData.serverHost) {
                <div>
                    <dt>
                        {{
                            'SETTINGS.BACKUP_CREDENTIALS_DIALOG.SERVER'
                                | translate
                        }}
                    </dt>
                    <dd>{{ dialogData.serverHost }}</dd>
                </div>
            }
        </dl>

        <div class="settings-backup-credentials-dialog__fields">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{
                        'SETTINGS.BACKUP_CREDENTIALS_DIALOG.USERNAME'
                            | translate
                    }}
                </mat-label>
                <input
                    matInput
                    formControlName="username"
                    autocomplete="username"
                    cdkFocusInitial
                />
                @if (
                    credentialsForm.controls.username.invalid &&
                    credentialsForm.controls.username.touched
                ) {
                    <mat-error>
                        {{
                            'SETTINGS.BACKUP_CREDENTIALS_DIALOG.USERNAME_REQUIRED'
                                | translate
                        }}
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    {{
                        'SETTINGS.BACKUP_CREDENTIALS_DIALOG.PASSWORD'
                            | translate
                    }}
                </mat-label>
                <input
                    matInput
                    type="password"
                    formControlName="password"
                    autocomplete="current-password"
                />
                @if (
                    credentialsForm.controls.password.invalid &&
                    credentialsForm.controls.password.touched
                ) {
                    <mat-error>
                        {{
                            'SETTINGS.BACKUP_CREDENTIALS_DIALOG.PASSWORD_REQUIRED'
                                | translate
                        }}
                    </mat-error>
                }
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions
        align="end"
        class="settings-backup-credentials-dialog__actions"
    >
        <button mat-button type="button" (click)="skip()">
            {{ 'SETTINGS.BACKUP_CREDENTIALS_DIALOG.SKIP' | translate }}
        </button>
        <button mat-flat-button type="submit">
            {{ 'SETTINGS.BACKUP_CREDENTIALS_DIALOG.IMPORT' | translate }}
        </button>
    </mat-dialog-actions>
</form>
