<div
    class="drop-container"
    ngFileDrop
    [options]="options"
    (uploadOutput)="onUploadOutput($event)"
    [uploadInput]="uploadInput">
    <p>
        Drag files here or
        <label class="upload-button">
            <input
                type="file"
                ngFileSelect
                [options]="options"
                (uploadOutput)="onUploadOutput($event)"
                [uploadInput]="uploadInput"
                multiple>
            browse
        </label>
        to upload.
    </p>

    <!-- <h3>Recent playlists:</h3>
    TODO
    <h3>Insert playlist by URL:</h3>
    TODO -->
</div>
