<mat-card *ngIf="(playlists).length > 0">
    <mat-card-content>
        <app-recent-playlists [playlists]="playlists" (playlistClicked)="setPlaylist($event)" (removeClicked)="removePlaylist($event)">
        </app-recent-playlists>
    </mat-card-content>
</mat-card>
<br />
<mat-card>
    <mat-card-subtitle>Add playlist</mat-card-subtitle>
    <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)"
        [uploadInput]="uploadInput">
        <div>
            <mat-icon class="upload-icon">save_alt</mat-icon>
        </div>
        <p class="upload-title">
            Drag & drop files here
        </p>
        <p>or</p>
        <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" class="input-file"
            name="file" id="file" [uploadInput]="uploadInput" multiple>
        <label for="file">
            Choose a file
        </label>
    </div>
</mat-card>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>