$dark-primary: mat-palette($black, A200, A700, 500);
$dark-accent: mat-palette($mat-teal, A400, A100, A400);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme(
    (
        color: (
            primary: $dark-primary,
            accent: $dark-accent,
            warn: $dark-warn,
        ),
    )
);

.dark-theme {
    @include angular-material-color($dark-theme);

    a {
        color: #a5a7fb;
    }
}
