<div mat-dialog-content>
    <img src="./assets/icons/icon-tv-256.png" width="128" /><br />
    <h1 mat-dialog-title>About IPTVnator</h1>
    <p>
        Cross-platform IPTV player application with multiple features, such as
        support of m3u and m3u8 playlists, favorites, TV guide, TV
        archive/catchup and more.
    </p>
    <p>Version: {{ appVersion }}</p>
    <p>
        <a
            href="https://github.com/4gray/iptvnator"
            target="_blank"
            title="ITPVnator repository on GitHub"
            aria-label="ITPVnator repository on GitHub"
            ><img
                src="./assets/icons/github-light.png"
                title="ITPVnator repository on GitHub" /></a
        >&nbsp;
        <a
            href="http://twitter.com/share?text=IPTVnator &mdash; free cross-platform IPTV player. Available as PWA and as native application.&url=https://github.com/4gray/iptvnator&hashtags=iptv,m3u,video-player"
            title="Share on Twitter"
        >
            <img
                height="32"
                src="./assets/icons/twitter-light.png"
                title="Share on Twitter"
            />
        </a>
        <a
            href="https://www.buymeacoffee.com/4gray"
            target="_blank"
            title="Buy me a coffee"
            aria-label="Buy me a coffee"
            ><mat-icon>local_cafe</mat-icon></a
        >
    </p>
</div>
