@switch (mode()) {
    @case ('detail') {
        <ng-content select="[details]" />
    }
    @case ('live') {
        <ng-content select="[live]" />
    }
    @default {
    <app-favorites-layout
        [categories]="categories()"
        [favorites]="items()"
        [playlistSubtitle]="playlistSubtitle()"
        [playlistTitle]="playlistTitle()"
        [selectedCategoryId]="selectedCategoryId()"
        [titleTranslationString]="
            layout().titleTranslationKey || 'CHANNELS.FAVORITES'
        "
        [removeTooltip]="layout().removeTooltip || ''"
        [emptyIcon]="layout().emptyIcon || 'favorite_border'"
        [showHeaderAction]="layout().showHeaderAction || false"
        [headerActionIcon]="layout().headerActionIcon || 'delete_sweep'"
        [headerActionTooltip]="layout().headerActionTooltip || ''"
        (categoryClicked)="onCategoryClicked($event)"
        (removeFavorite)="removeItem.emit($event)"
        (headerActionClicked)="headerActionClicked.emit()"
        (openItem)="openItem.emit($event)"
    />
    }
}
