<div class="search-panel">
    <mat-form-field class="search-bar" subscriptSizing="dynamic">
        <mat-icon matPrefix>search</mat-icon>
        <input
            matInput
            spellcheck="false"
            type="search"
            [placeholder]="'CHANNELS.SEARCH_CHANNEL' | translate"
            [(ngModel)]="searchString"
        />
    </mat-form-field>
</div>

<mat-nav-list>
    <cdk-virtual-scroll-viewport
        [itemSize]="48"
        class="scroll-viewport-portals"
    >
        <mat-list-item
            *cdkVirtualFor="
                let item of channels() | filterBy: searchString() : 'title';
                trackBy: trackBy;
                templateCacheSize: 0
            "
            templateCacheSize="200"
            (click)="playClicked.emit(item)"
            [activated]="
                xtreamStore.selectedItem()?.xtream_id === item.xtream_id
            "
        >
            <img
                matListItemAvatar
                class="stream-icon"
                [src]="item.stream_icon ?? item.poster_url"
                (error)="
                    $event.target.src = './assets/images/default-poster.png'
                "
            />
            <div matListItemTitle class="channel-info">
                <div class="title">{{ item.title }}</div>
                @if (currentPrograms.get(item.xtream_id)) {
                    <div class="program-info">
                        <div class="current-program">
                            {{ currentPrograms.get(item.xtream_id) }}
                        </div>
                        @if (currentProgramsProgress.has(item.xtream_id)) {
                            <div class="progress-container">
                                <span>{{
                                    programTimings.get(item.xtream_id)?.start
                                        | date: 'HH:mm'
                                }}</span>
                                <div class="progress-bar">
                                    <div
                                        class="progress"
                                        [style.width.%]="
                                            currentProgramsProgress.get(
                                                item.xtream_id
                                            )
                                        "
                                    ></div>
                                </div>
                                <span>{{
                                    programTimings.get(item.xtream_id)?.end
                                        | date: 'HH:mm'
                                }}</span>
                            </div>
                        }
                    </div>
                } @else {
                    <div class="program-info no-epg-placeholder">
                        <div class="placeholder-bar"></div>
                        <div class="progress-container">
                            <span>--:--</span>
                            <div class="progress-bar"></div>
                            <span>--:--</span>
                        </div>
                    </div>
                }
            </div>
            <button
                mat-icon-button
                matListItemMeta
                (click)="toggleFavorite($event, item)"
            >
                <mat-icon>
                    {{
                        favorites.get(item.xtream_id) ? 'star' : 'star_outline'
                    }}
                </mat-icon>
            </button>
        </mat-list-item>
    </cdk-virtual-scroll-viewport>
</mat-nav-list>
