<h3>Seasons and Episodes</h3>
@if (selectedSeason) {
    <button
        mat-button
        class="back-button"
        class="back-to-seasons"
        (click)="selectedSeason = undefined"
    >
        <mat-icon>arrow_back</mat-icon>
        <span>Back to seasons</span>
    </button>
}
<div class="seasons-container">
    @if (!selectedSeason) {
        @for (season of seasons | keyvalue: compareSeasons; track $index) {
            <mat-card class="season-item" (click)="selectSeason(season.key)">
                <mat-card-content>Season {{ season.key }}</mat-card-content>
            </mat-card>
        }
    } @else {
        @for (episode of seasons[selectedSeason]; track $index) {
            <mat-card class="episode-item" (click)="selectEpisode(episode)">
                @if (episode.info?.movie_image) {
                    <mat-card-content
                        ><img
                            [src]="episode.info.movie_image"
                            (error)="
                                $event.target.src =
                                    './assets/images/default-poster.png'
                            "
                            class="episode-cover"
                    /></mat-card-content>
                }
                <div class="episode-title">
                    {{ episode.episode_num }}. {{ episode.title }}
                </div>
            </mat-card>
        }
    }
</div>
