<div class="search-page">
    <div class="header">
        <h2>{{ 'PORTALS.SIDEBAR.SEARCH' | translate }}</h2>
    </div>

    @if (itemDetails) {
        <button
            mat-button
            (click)="itemDetails = null"
            [attr.aria-label]="'SETTINGS.BACK_TO_HOME' | translate"
            class="back-button"
        >
            <mat-icon>arrow_back</mat-icon>
            {{ 'SETTINGS.BACK_TO_HOME' | translate }}
        </button>
        @switch (selectedFilterType()) {
            @case ('vod') {
                <app-vod-details
                    [item]="itemDetails"
                    (playClicked)="
                        createLinkToPlayVodItv(
                            itemDetails.cmd,
                            itemDetails.info.name,
                            itemDetails.info.movie_image
                        )
                    "
                    (addToFavoritesClicked)="addToFavorites($event)"
                    (removeFromFavoritesClicked)="removeFromFavorites($event)"
                />
            }
            @case ('series') {
                <app-stalker-series-view />
            }
        }
    } @else {
        <app-search-form
            [singleSelection]="true"
            [(searchTerm)]="searchTerm"
            [filters]="filters"
            [filterConfig]="filterConfig"
            (filtersChange)="onFiltersChange($event)"
        />
        <div class="results-container">
            @if (searchResultsResource.isLoading()) {
                <mat-spinner />
            } @else {
                <div class="results-grid">
                    @for (
                        item of searchResultsResource.value();
                        track item.id
                    ) {
                        <app-search-result-item
                            [title]="item.name"
                            [posterUrl]="item.screenshot_uri"
                            [type]="item.type"
                            (itemClick)="selectItem(item)"
                        />
                    }
                </div>
                @if (searchResultsResource.value().length === 0) {
                    <div class="no-results">
                        <app-playlist-error-view
                            [title]="
                                'PORTALS.EMPTY_LIST_VIEW.TITLE' | translate
                            "
                            [description]="
                                'PORTALS.EMPTY_LIST_VIEW.NO_SEARCH_RESULTS'
                                    | translate
                            "
                            [showActionButtons]="false"
                            [viewType]="'NO_SEARCH_RESULTS'"
                        />
                    </div>
                }
            }
        </div>
    }
</div>
