<app-header fxLayout="row"></app-header>
<div fxLayout="row" fxFlexAlign="start start">
    <div fxFlex="100">
        <mat-tab-group [dynamicHeight]="true" color="primary" backgroundColor="primary" mat-stretch-tabs>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">list</mat-icon> Recently added playlists
                </ng-template>
                <app-recent-playlists [playlists]="playlists" (playlistClicked)="getPlaylist($event)"
                    (removeClicked)="removePlaylist($event)">
                </app-recent-playlists>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">attach_file</mat-icon> Add via file upload
                </ng-template>
                <ng-template matTabContent>
                    <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)"
                        [uploadInput]="uploadInput">
                        <mat-icon class="upload-icon">save_alt</mat-icon>
                        <p class="upload-title">
                            Drag & drop files here
                        </p>
                        <p>or</p>
                        <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
                            class="input-file" name="file" id="file" [uploadInput]="uploadInput" multiple>
                        <label for="file">
                            Choose a playlist
                        </label>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">link</mat-icon> Add via URL
                </ng-template>
                <ng-template matTabContent>
                    <div class="url-form">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Playlist URL (m3u, m3u8)" [(ngModel)]="playlistUrl">
                        </mat-form-field>
                        <button mat-flat-button [disabled]="!playlistUrl" color="primary"
                            (click)="sendPlaylistsUrl()">ADD PLAYLIST</button>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>