.video-js {
    position: relative !important;
    width: 100% !important;
    height: calc(100vh - 65px);
}

/* Hide the captions settings item from the captions menu. */
.hide-captions {
    .vjs-texttrack-settings,
    .vjs-text-track-display,
    .vjs-subs-caps-button {
        display: none;
    }
}


@media only screen and (max-width: 599px) {
    .video-js {
        height: calc(50vh - 65px) !important;
    }
}