:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    justify-content: flex-start;
}

.xtream-container {
    height: calc(100vh - 140px);
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

mat-spinner {
    margin-top: 10px;
    align-self: center;
}
