@if (showingDetails) {
    <!-- Inline details view -->
    <div class="details-view">
        @switch (selectedFilterType()) {
            @case ('vod') {
                @if (itemDetails.series?.length > 0) {
                    <!-- VOD item with embedded series (vclub or Ministra) -->
                    <app-stalker-series-view
                        [vodWithSeries]="itemDetails"
                        (backClicked)="onVodBack()"
                    />
                } @else if (itemDetails.is_series === true) {
                    <!-- VOD item that is actually a series (Ministra plugin is_series=1) -->
                    <app-stalker-series-view (backClicked)="onVodBack()" />
                } @else if (vodDetailsItem) {
                    <!-- Regular VOD item -->
                    <app-vod-details
                        [item]="vodDetailsItem"
                        [isFavorite]="isSelectedVodFavorite()"
                        (playClicked)="onVodPlay($event)"
                        (favoriteToggled)="onVodFavoriteToggled($event)"
                        (backClicked)="onVodBack()"
                    />
                }
            }
            @case ('series') {
                <app-stalker-series-view (backClicked)="itemDetails = null" />
            }
        }
    </div>
} @else {
    <app-search-layout
        [searchTerm]="searchTerm()"
        [resultsCount]="resultsCount"
        [isLoading]="searchResultsResource.isLoading()"
        [showResultsCount]="true"
        [showSearchInput]="!isWorkspaceLayout"
        (searchTermChange)="updateSearchTerm($event)"
    >
        <!-- Filters (single selection mode for stalker) -->
        <ng-container filters>
            @for (filter of filterConfig; track filter.key) {
                <mat-checkbox
                    [ngModel]="filters()[filter.key]"
                    (ngModelChange)="updateFilter(filter.key, $event)"
                >
                    {{ filter.translationKey | translate }}
                </mat-checkbox>
            }
        </ng-container>

        <!-- Results -->
        <ng-container results>
            <div class="results-grid">
                @for (item of searchResultsResource.value(); track item.id) {
                    <app-content-card
                        [title]="item.o_name || item.name"
                        [posterUrl]="item.screenshot_uri"
                        [type]="selectedFilterType() === 'vod' ? 'movie' : 'series'"
                        [showPlaceholder]="true"
                        (cardClick)="selectItem(item)"
                    />
                }
            </div>
        </ng-container>
    </app-search-layout>
}
