@if (itemDetails) {
    @switch (itemDetails.category_id) {
        @case ('vod') {
            <app-vod-details
                [item]="itemDetails.details"
                (playClicked)="
                    createLinkToPlayVodItv(
                        itemDetails.details.cmd,
                        itemDetails.details.info.name,
                        itemDetails.details.info.movie_image
                    )
                "
                (backClicked)="itemDetails = null"
            />
        }
        @case ('series') {
            <app-stalker-series-view (backClicked)="itemDetails = null" />
        }
    }
} @else {
    <app-favorites-layout
        [categories]="categories() ?? []"
        [favorites]="favoritesToShow() ?? []"
        [playlistSubtitle]="'Stalker Portal'"
        [playlistTitle]="currentPlaylist()?.title || 'Portal'"
        [selectedCategoryId]="selectedCategoryId()"
        (categoryClicked)="setCategoryId($event.category_id)"
        (removeFavorite)="removeFromFavorites($event)"
        (openItem)="openItem($event)"
    />
}
