<div class="grid-container">
    <!-- Application header-->
    <app-header
        [title]="'HOME.TITLE' | translate"
        [subtitle]="'HOME.SUBTITLE' | translate"
    ></app-header>

    <!-- Tab-based layout -->
    <mat-tab-group
        [dynamicHeight]="true"
        color="primary"
        backgroundColor="primary"
        mat-stretch-tabs
    >
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">list</mat-icon>
                <div class="tab-title">
                    {{ 'HOME.TABS.RECENTLY_ADDED' | translate }}
                </div>
            </ng-template>
            <ng-template matTabContent>
                <app-recent-playlists class="recent-playlists">
                </app-recent-playlists>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">attach_file</mat-icon>
                <div class="tab-title">
                    {{ 'HOME.TABS.FILE_UPLOAD' | translate }}
                </div>
            </ng-template>
            <ng-template matTabContent>
                <app-file-upload
                    (fileRejected)="rejectFile($event)"
                    (fileSelected)="handlePlaylist($event)"
                ></app-file-upload>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">link</mat-icon>
                <div class="tab-title">
                    {{ 'HOME.TABS.URL_UPLOAD' | translate }}
                </div>
            </ng-template>
            <ng-template matTabContent>
                <app-url-upload
                    (urlAdded)="sendPlaylistsUrl($event)"
                ></app-url-upload>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">text_format</mat-icon>
                <div class="tab-title">
                    {{ 'HOME.TABS.TEXT_IMPORT' | translate }}
                </div>
            </ng-template>
            <ng-template matTabContent>
                <app-text-import
                    (textAdded)="uploadAsText($event)"
                ></app-text-import>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

    <!-- Loading spinner -->
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</div>
