::ng-deep {
    .mat-tab-label-content {
        text-transform: uppercase;
    }

    .mat-tab-group.mat-background-primary .mat-tab-header-pagination {
        display: none;
    }
}

.playlists-container {
    grid-area: playlists;
}

.recent-playlists {
    height: calc(100vh - 80px);
    overflow: auto;
}

// Responsive height adjustments
@media (min-width: 1920px) {
    .recent-playlists {
        height: calc(100vh - 100px);
    }
}

@media (max-width: 768px) {
    .recent-playlists {
        height: calc(100vh - 70px);
    }
}

@media (max-width: 480px) {
    .recent-playlists {
        height: calc(100vh - 60px);
    }
    
    .tab-title {
        display: none;
    }
}

@media (orientation: landscape) and (max-height: 600px) {
    .recent-playlists {
        height: calc(100vh - 60px);
    }
}
