::ng-deep {
    .mat-tab-label-content {
        text-transform: uppercase;
    }

    .mat-tab-group.mat-background-primary .mat-tab-header {
        background: #000 !important;
    }

    .mat-tab-group.mat-background-primary .mat-tab-header-pagination {
        display:none;
    }
}