.sidebar {
    width: 400px;
    border-right: 1px solid #333;
    display: flex;
    flex-direction: column;

    .sidebar-header {
        padding: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        app-region: drag;
        display: flex;
        align-items: center;
        gap: 8px;

        h2 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 500;
            flex: 1;
        }

        button {
            app-region: no-drag;
        }

        .switcher {
            flex: 1;
            min-width: 0;
        }

        .manage-categories-btn {
            margin-left: auto;
        }
    }
}
