<div class="sidebar">
    <div class="sidebar-header">
        <button mat-icon-button disabled>
            <mat-icon>list</mat-icon>
        </button>
        <h2>{{ 'PORTALS.ALL_CATEGORIES' | translate }}</h2>
        <button
            mat-icon-button
            class="manage-categories-btn"
            (click)="openCategoryManagement()"
            [matTooltip]="'XTREAM.CATEGORY_MANAGEMENT.TITLE' | translate"
        >
            <mat-icon>tune</mat-icon>
        </button>
    </div>
    <app-category-view
        [items]="categories()"
        [selectedCategoryId]="selectedCategoryId()"
        [itemCounts]="categoryItemCounts()"
        (categoryClicked)="categoryClicked($event)"
        [showCounts]="true"
    />
</div>

<div class="main-content">
    @if (!xtreamStore.selectedItem()) {
        <div class="content-header">
            <h2>
                <button mat-icon-button disabled>
                    <mat-icon>category</mat-icon>
                </button>
                {{ getContentLabel() }}
            </h2>
        </div>
    }
    <div
        class="scrollable-content"
        [class.no-header]="xtreamStore.selectedItem()"
    >
        <router-outlet />
    </div>
    <!-- <app-mpv-player-bar /> -->
</div>
