button {
    cursor: pointer !important;
    text-transform: uppercase;
}

.settings-container {
    overflow: auto;
    height: calc(100vh - 100px);
}

.row {
    display: flex;
    padding: 10px;

    :nth-child(2) {
        text-align: right;

        mat-form-field {
            font-size: 14px;
        }
    }
}

.column {
    flex: 1;

    p {
        font-size: 0.9em;
        opacity: 0.6;
        padding: 2px 0;
        margin: 0;
    }
}

.action-buttons {
    margin-top: 10px;

    button {
        margin: 0 10px;
    }
}
