.card-header {
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    cursor: pointer !important;
    text-transform: uppercase;
}

.mat-card {
    border-radius: 0 !important;
}

.mat-list-item {
    height: 70px !important;
}

.settings-container {
    overflow: auto;
    height: calc(100vh - 140px);

    .mat-card {
        box-shadow: none;
        background: none;
    }
}

.mat-form-field {
    width: 100%;
}
